# venv stuff for any platform
.venv
venv
pyenv.cfg

# macos stuff
.DS_Store

# python debugger stuff?
**_pycache__

# Input/Output data files
io/input/*
io/output/*
# Keep the folders but ignore their contents
!io/input/.gitkeep
!io/output/.gitkeep