# venv stuff for any platform
.venv
venv
pyenv.cfg



# python debugger stuff?
**_pycache__

# Input/Output data files
io/input/*
io/output/*
# Keep the folders but ignore their contents
!io/input/.gitkeep
!io/output/.gitkeep


scripts/personal_testbench.py